body{
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    width:40%;
    border-radius: 10px;
}

th,td{
    color: black;
    text-align: center;
}

th{
    font-size:15px;
    letter-spacing: 1px;
    border-radius: 2px;
    padding-right:;
    background-color: darkcyan;
    color: white;
}

tr:first-child{
    background-color: white;
    color: black;
}

tr:nth-child(2){
    background-color: gainsboro;
    color: cyan;
}

tr:nth-child(3){
    background-color: white;
    color: black;
}
tr:hover{
    
    color: darkcyan;
}


